.header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 92px 50px;
  background-color: #fff;
}

.header_logo-image {
  display: block;
}

.header_logo {
  display: block;
  width: 140px;
}

.header_menu {
  display: flex;
  align-items: center;
}

.header_links_list {
  display: flex;
}

.header_links-list-item {
  padding-right: 32px;
  text-underline-position: under;
  list-style-type: circle;
}

.header_links-list-item:nth-child(1n + 3) {
  padding-right: 0;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.header_link_active_no-underline {
  text-decoration: none;
}

.header_link_active {
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 390px;
  padding: 5px 0 7px 150px;
}

.header_link {
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-position: under;
}

.cover {
  max-width: 1440px;
  min-height: 757px;
  margin: 0 auto;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 1440px;
  height: 757px;
  opacity: 0.6;
  background-color: #000;
}

.cover_title {
  position:relative;
  z-index: 2;
  padding: 165px 50px 0 50px;
  color: #FFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  letter-spacing: 30px;
}

.aligned-text_center {
  width: 1280px;
  padding: 20px 110px 20px 170px;
  line-height: 100%;
  letter-spacing: 30px;
  text-align: center;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_right {
  padding: 0 0 147px 924px;
  line-height: 100%;
  letter-spacing: 60px;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 30px;
}

.cover_description {
  position:relative;
  z-index: 2;
  display: flex;
  gap: 80px;
  padding: 0 50px 0px 422px;
  word-spacing: 17.5px;
}
.cover_description-text {
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.bet-button {
  position: relative;
  bottom: 10px;
  width: 257px;
  height: 52px;
  border: 1px solid #FFF;
  background-color: transparent;
}

.lots {
  max-width: 1340px;
  max-height: 805px;
  margin: 0 auto;
  padding-top: 180px;
  background-color: #FFF;
}

.overlay_lots {
  position: absolute;
  z-index: 1;
  width: 430px;
  height: 450px;
  opacity: 0.6;
  background-color: #000;
}

.lots_heading {
  padding: 0 0 27px 40px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
}

.lots_card-list-item {
  display: flex;
  width: 100%;
  padding-right: 25px;
  padding-bottom: 30px;
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card_title {
  position: relative;
  z-index: 2;
  color: #FFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-underline-position: under;
  text-transform: uppercase;
}

.card_text {
  position: relative;
  z-index: 2;
  color: #FFF;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 450px;
  padding: 50px 40px;
  background-image: url(/images/card-lot-02.jpg);
  background-size: 100%;
  
}

.card_type_picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 450px;
  padding: 50px 40px;
  background-image: url(/images/card-lot-03.jpg);
  background-size: 100%;
}

.card_type-film {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 450px;
  padding: 50px 40px;
  background-image: url(/images/card-lot-01.jpg);
  background-size: 100%;
}

.lots__look-more-link {
  padding-left: 40px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  text-underline-position: under;
}
.about {
  display: flex;
  width: 1340px;
  height: 660px;
  margin: 0 auto 190px;
  padding: 181px 0 0 95px;
}

.about_column {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 1000px;
  height: 388px;
  padding-top: 105px;
  padding-left: 120px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: #000;
}
 
.about_logo-image {
  display: flex;
  width: 148px;
  margin: 0 auto;
}

.about_title {
  padding-bottom: 75px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
  background-color: #fff;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.footer_link {
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-position: under;
}

.footer_menu {
  display: flex;
}

.footer_menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_menu-list-item {
  list-style: none;
}

.footer_menu-link {
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  text-underline-position: under;
}

.footer_active_no-underline {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  gap: 48px;
}

.footer_social-list-item {
  list-style: none;
}

.footer_social-icon {
  height: 48px;
}

